/*Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



#imgPrincipal{
    width: 70%;
    border-radius: 50%;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
    object-fit: cover; /* Esto asegura que la imagen se recorte correctamente */
}
#HabDestacadas{
    width: 100%;
    border-radius: 99%;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
    object-fit: cover; /* Esto asegura que la imagen se recorte correctamente */
}


nav{
    background-color: #427cfa;

}

/*
Estilo para items de Navbar
*/
#titulo{
    color: white;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
 
}

h2{
    color: #427cfa;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 3%;
    font-size: 45px;
}

p{
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-size: 20px;
    font-style: italic;
}


.navbar-nav li a{
    color: white;
    font-family: "Kanit", sans-serif;
    font-weight: 600;

}


footer{
    background-color: #427cfa;
    color: white;
}

ul{
    font-size: 20px;
}
